---
title: Services
layout: default
bodyClass: page-services-list
---

<div class="intro">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1>Serveis que creixen amb el vostre negoci</h1>
        <p>
          Millorant els processos mitjançant l'aplicació de les tecnologies adequades en cada moment.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="container pb-6">
  <div class="row">
    {% for service in site.services %}
    <div class="col-12 col-md-4 mb-1">
      <div class="service service-summary">
        <div class="service-content">
          <h2 class="service-title">
            <a href="#">{{ service.title }}</a> <!--{{site.baseurl}}{{service.url}} -->
          </h2>
          {{ service.content | markdownify | strip_html | truncate: 100 }}
        </div>
      </div>
    </div>
    {% if forloop.first %}
      <div class="col-12 col-md-4 mb-1"></div><div class="col-12 col-md-4 mb-1"></div>
    {% endif %}
    {% endfor %}
  </div>
</div>