.client-summary {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  .client-image {
    flex: 0;
    margin-right: 10px;
    img {
      filter: grayscale(100%);
      opacity: 0.5;
      width: 300px;
    }
  }
  .client-meta {
    flex: 1;
    h2 {
      margin: 0;
    }
    p {
      margin: 0;
    }
    a {
    }
  }
  .client-content {
    flex: 1 0 100%;
  }
}
